<div class="container-fluid p-3 text-dark pt-5">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5">
            <img class="w-100" [src]="selectedMovie?.poster" [alt]="selectedMovie?.slug" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <h2>{{selectedMovie?.title}}</h2>
                    <p>{{selectedMovie?.released_on | date}} | {{ selectedMovie?.length}} | {{selectedMovie?.director}}</p>
                    <p><strong>Cast:</strong><span>{{selectedMovie?.cast}}</span>
                    </p>
                </div>
                <span><strong>Movie Rating:</strong>{{selectedMovie?.imdb_rating}}</span>
            </div>
            <div class="mt-3">
                <p>
                    <strong>Movie Description:</strong>{{selectedMovie?.overview}}
                </p>
                
            </div>
        </div>
    </div>
</div>

